.des-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 12px;
}

.Container-apps{
    width: 480px;
    background-color: white;
    padding-bottom: 1rem;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .Container-apps{
        width: 100%;
    }
 }